<span class="timestamp">
  <%= action_name == 'index' ? nil : "#{time_ago_in_words(request.created_at)} ago" %>
</span>
<% if current_user.following?(user) %>
  <%# FIXIT: not posting changes %>
  <%= form_with(model: request, method: :delete) do |form| %>
    <%= form.submit "Unfollow" %>
  <% end %>
<% else %>
  <%# FIXIT: not posting changes %>
  <%= form_with(model: request) do |form| %>
    <%= form.submit "Follow" %>
  <% end %>
<% end %>
