<%# HACK: just filter the discover page for followed/unfollowed %>
<div class="page-header">
  <h1><%= action_name.capitalize %> Follow Requests </h1>
  <p>All follow requests that you have <%= action_name %> that are pending.</p>
</div>
<div class="requests-container">
  <% @follow_requests.each do |request| %>
    <div class="request-container">
      <% if current_page?(action: 'sent') %>
        <%= render partial: 'layouts/banner', locals: {
        user: request.recipient} %>
        <%= render partial: 'unfollow', locals: {
      request: request,
      recipient: request.recipient }%>
      <% else %>
        <%= render partial: 'layouts/banner', locals: {
        user: request.sender} %>
        <%= form_with url: accept_follow_request_path(request), method: :patch do %>
          <%= submit_tag 'Accept' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
