<div class="nav-container">
  <%= link_to "Home", root_path %>
  <%= link_to "New Post", new_post_path %>
  <%= link_to "My Profile", profile_path(@user) %>
  <%= link_to "Discover", users_path %>
  <%= link_to "Sent Follow Requests", sent_follow_requests_path %>
  <%= link_to "Received Follow Requests", received_follow_requests_path %>
</div>
