<div class="nav-container">
  <%= link_to "Home", root_path %>
  <%= link_to "New Post", new_post_path %>
  <%= link_to "Profile", profile_path %>
  <%= link_to "Discover", discover_path %>
  <%= link_to "Follow Requests", follow_requests_path %>
</div>
