<div class="comments-container">
  <h2>
    <%= @post.comments_count %> Comment<%= (@post.comments_count == 1) ? "" : "s" %>
  </h2>
  <% @post.comments.each do |comment| %>
    <div class="author-info-container">
      <p><%= comment.author.email %>, <%= comment.created_at %></p>
    </div>
    <p><%= comment.body %></p>
  <% end %>
</div>
