<div class="page-header">
  <h2><%= "#{action_name.capitalize} Post" %></h2>
</div>
<div class="post-container">
  <div>
    <%= form_with model: @post, local: true do |post_form| %>
      <legend>
        Tell the world a thing or two.
      </legend>
      <fieldset>
        <div class="form-group">
          <%= post_form.label :title %>
          <%= post_form.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= post_form.label :body %>
          <%= post_form.text_area :body, rows: 12, cols: 40, class: 'form-control' %>
        </div>
      </fieldset>
      <%= post_form.submit "Submit", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
