<div class="page-header">
  <h1>Feed</h1>
  <p>Posts from you and users you follow.</p>
</div>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-container">
      <h2 class="post-title"><%= post.title %></h2>
      <div class="author-info-container">
        <p>
          By <%= post.author.name %>,
          <%= time_ago_in_words(post.created_at) %> ago
        </p>
        <p>
          <% if post.updated_at != post.created_at %>
            (Edited <%= time_ago_in_words(post.updated_at) %> ago)
          <% end %>
        </p>
      </div>
      <div class="post-body-container">
        <p><%= post.body %></p>
      </div>
      <div class="post-links-container">
        <%= link_to "View post", post_path(post) %>
        <% if post.author.eql?(current_user) %>
          <%= link_to "Edit post", edit_post_path(post) %>
          <%= link_to "Delete post", post_path(post), data: { turbo_method:
          :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
