<h1>Feed</h1>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-container">
      <h2 class="post-title"><%= post.title %></h2>
      <div class="author-info-container">
        <p>By <%= post.author.handle %> at <%= post.created_at %></p>
      </div>
      <div class="post-body-container">
        <p><%= post.body %></p>
      </div>
      <div class="post-links-container">
        <%= link_to "View post", post_path(post) %>
        <% if post.author.eql?(current_user) %>
          <%# TODO: edit post button %>
          <%= link_to "Delete post", post_path(post), data: { turbo_method:
        :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
        <%# TODO: like, comment post button %>
      </div>
    </div>
  <% end %>
</div>
